{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}
<div class="titlecard-wrapper">
    <div id="top" style="top:0px;position:absolute;" class="waypoint" data-down-waypoint="0,38" data-up-waypoint="0,38"></div>
    <div id="title-text" class="animated fadeIn">
        <div class="container">
            <div class="titlecard-container">
                <div class="titlecard-content">
                    <ul class="credit">
                        <li>
                            <a href="http://www.npr.org"><img src="assets/img/npr-logo.png" class="npr-logo" alt="NPR" /></a>
                        </li>
                        <li>{{ COPY.story_metadata.byline }}</li>
                    </ul>
                    <h1>{{ COPY.story_metadata.title }}</h1>
                    <h2>{{ COPY.story_metadata.subtitle }}</h2>

                    <div class="begin-bar">
                        <p><strong>Begin</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="titlecard-mask animated fadeOut"></div>
    <div class="titlecard"></div>

    <div class="caption-text">
        <h6>{{ COPY.story_metadata.titlecard_caption }}</h6>
    </div>
</div>

<header class="controls headroom" data-headroom>
    <ul class="section-nav nav">
        <li class="top-nav active">
            <a href="#top"><strong>Home</strong> <i class="fa fa-home"></i></a>
        </li>
        {% for row in COPY.nav %}
            <li class="{{row[1]}}-nav">
                <a href="#{{row[1]}}"><span class="chapter">{{ loop.index }}</span> <strong>{{ row[0] }}</strong></a>
            </li>
        {% endfor %}
        <li class="share" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
            <strong>Share</strong> <i class="fa fa-share"></i>
        </li>
    </ul>
</header>
<section id="content">
        {% for row in COPY.content %}

            {% if row.template == 'chapter' %}
                {% if row.first_chapter != 'yes' %}
                    </section>
                {% endif %}
            {% endif %}
            {% include "%s.html"|format(row.template) ignore missing %}

        {% endfor %}
    <!-- close the last section of the story -->
    </section>

    <div class="share btn btn-default visible-xs" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
        <strong>Share</strong> <i class="fa fa-share"></i>
    </div>
</section>

<!-- content -->

{% endblock content %}
{% block extra_foot_js %}
{% endblock %}
